:root {
  --colorAzul: #11314a;
  --colorNaranja: #9a3a24;
  --fuentePrincipal: Arial, sans-serif;
  --fuenteSecundaria: Georgia, 'Times New Roman', Times, serif;
}

html {
  box-sizing: 	border-box;
  font-size: 62.5%;
  background-color: var(--colorNaranja);
  scroll-behavior: smooth;
}

body {
  background-color: var(--colorAzul);
  max-width: 50rem;
  color: white;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 1.6rem;
  -webkit-box-shadow: -3px 5px 43px -19px rgba(151, 129, 129, 0.75);
  -moz-box-shadow: -3px 5px 43px -19px rgba(0,0,0,0.75);
  box-shadow: -3px 5px 43px -19px rgba(0,0,0,0.75);
}

@media (min-width: 768px){
  body {
    margin: 1rem auto;
    min-height: calc(100vh - 2rem);
  }
}

*, *:before, *:after{
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a, a:hover {
  cursor: pointer;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.py-5r {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.activo {
  color: var(--colorNaranja)!important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}